@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* Base Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: whitesmoke;
}
h1,h2,h3{
    margin: 1.6rem 0;
}

h1{
    font-weight: 800;
    font-size: 3.6rem;
}
h2{
    font-weight: 800;
    font-size: 2.4rem;
}
p{
    font-weight: 400;
    font-size: 1.8rem;
}
img{
    width: 100%;
    height: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}
section{
    padding: 100px 0;
}

/* Hero Section */
header{
    top: -100rem;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('graphics/usedom.jpg');
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}
.logo{
    font-size: 3.2rem;
    color: #48AC98;
    font-family: Beau;
}
#Logo{
    width: 150px;
}
nav{
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav box-icon{
    display: none;
}

nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}
nav ul li a:hover{
    color: #48AC98;
    transition: .5s ease-in-out;
}

.header-content{
    width: 50%;
    position: relative;
    top: 9%;
    left: 8%;
}
form{
    margin: 2.4rem;
}
input{
    font-size: 1.8rem;
}
select,
input[type=date],
input[type=number],
input[type=text],
input[type=email],
input[type=button],
input[type=submit]{
    width: 50%;
    padding: 12px 20px;
    margin: 1.2rem 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select{
    font-size: 1.3rem;
    color: #ccc;
}
select option{
    font-size: 1.3rem;
    color: #ccc;
}
input[type=submit],
input[type=button]{
    width: 50%;
    background-color: #48AC98;
    color: #fff;
    padding: 14px 20px;
    margin: 1.2rem 0;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
}
input::placeholder{
    font-size: 1.3rem;
    color: #ccc;
}



/* Footer */
footer{
    display: flex;
    height: 80px;
    background-color: #222;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

footer .row{
    justify-content: center;
}
footer ul{
    list-style-type: none;
}
footer ul li{
    display: inline-block;
    margin-left: 2.5rem;
}
footer ul li a:hover{
    color: #48AC98;
    transition: .5s ease-in-out;
}


































