@font-face {
    font-family: "beau";
    src: url("../website/fonts/beau.ttf");
}

body {

    margin: 0;/*verhindert den Rand*/
    padding: 0;
    /*background: rgba(220, 220, 220, 1);*/
    background-color: white;
}

p{
    font-family: "beau";
}
/*----- Navigations Bar -----*/
.NavBar { grid-area: header; }

.Main { grid-area: main; }

.Footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
    gap: 10px;


}

.NavBar{
    display: block;
    position: relative;
    object-position: top;
    max-width:  100%;
    height: 70px;
    max-height: 75px;
    background: rgba(255, 255, 255);
    z-index: 1;
    overflow: hidden;
}

.NavBar:hover{
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.25)
}

#Logo{
    position: relative;
    width:  120px;
    height: auto;
    float: left;
    top: 0.5rem;
    left: 20px;
    z-index: 2;
}

#LogBox{
    color: black;

}

#NavList{
    position: absolute;
    right: 10px;
    text-decoration: none;
    font-family: arial;
    font-size: large;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

#NavList li{
    list-style: none;
    float: right;
}

#NavList a{
    color: black;
}

#NavList a:link{
    text-decoration: none;
    font-size: 16px;
    padding: 10px 5px 1px 5px;
}
#NavList a:hover{
    color: black;
    background-color: white;
    text-decoration: none;
}

#NavList a:after{
    text-decoration: none;
}

.MainTitle{
    position: absolute;
    left: 50%;
    top: -40%;
    transform: translateX(-50%);
    font-family: "beau";
    font-size: 45px;
    text-align: center;
}
.RoundBtn{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #C5D3E1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}


#HelpBtn{
    position: relative;
    top: 20px;
    right: 30px;
    float: right;
}

#AccountBtn{
    position: relative;
    top: 20px;
    right: 20px;
    float: right;
}


.Footer{
    grid-area: footer;
    background-color: black;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}


















/* ---------- Section MainBox ---------- */

.SliderBox{
    position: relative;
    max-width: 70%;
    top: 2rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    /*scroll-snap-type: x mandatory;*/
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    overflow-x: hidden; /* Hide scrollbars */
    border-radius: 0.5rem;
}
.slider img{
    flex: 1 0 100%;
    /*scroll-snap-align: start;*/
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 7rem; /*1.25*/
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
.BottomFrame{
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 0.5rem;
}


/*----- FilterBox -----*/
form{
    position: absolute;
    margin: auto;
    left: 10px;
}
label{
    font-family: arial;
}
input, select{
    width: 100%;
    font-size: 1.1em;
    padding: 4px;
    font-family: inherit;
    font-weight: lighter;
    border-radius: 0.3em;
}

input[type=submit]{
    position: absolute;
    left: 50%;
    transform: translateX(-25%);
}

.FilterBox{
    position: absolute;
    width: 30%;
    height: 30rem;
    left: 25%;
    transform: translateX(-50%);
    top: 20%;
    background: white;
    border-radius: 0.5rem;
    margin: auto;
    z-index: 3;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.25);
}

#HeadLineFilterBox{
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: bold;
    padding: 30px 0 0 30px;
    margin: 0;
}

#TextFilterBox{
    font-family: sans-serif;
    font-size: large;
    padding: 10px 0 0 30px;

}

.SubBoxFilter{
    position: absolute;
    width: 80%;
    height: 10%;
    border-style: solid;
    border-radius: 0.5rem;
}

#Location{
    left: 2rem;
    top: 10rem;
}
.LocationText{
    font-family: sans-serif;
    padding-left: 10px;
}

#Date{
    left: 2rem;
    top: 15rem;
}

#CheckIn{
    position: absolute;

}

#CheckOut{
    position: absolute;
    right: 80px;
}

#Guests{
    left: 2rem;
    top: 20rem;
}

#GuestText{
    position: absolute;
}

.LongBtn{
    color: #FFF;
    position: absolute;
    width: 100px;
    height: 60px;
    border-radius: 20px;
    font-size: large;
}

#SearchFilter{
    top: 25rem;
    left: 50%;
    transform: translateX(-50%);
}





/* ---------- Section SubBox ---------- */

.SubBox{
    position: relative;
    max-width: 60rem;
    top: 10rem;
    display: flex;
    margin: 0 auto;


}

.InfoBox{
    position: absolute;
    width: 400px;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);

}

#LeftInfoBox{
    left: 0;
}
#RightInfoBox{
    right: 0;
}

.InfoText{
    margin: 10px;
}

.InfoHeadline{
    margin: 10px;
}
