@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/*------------------------------ Authentication -------------------------------------------------*/

.LoginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0 10rem 0;
    width: 100%;
}


.InputZone {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.InputBox{
    display: flex;
    flex-direction: column;
    font-size: 3.2rem;
    padding: 1.4rem 1.4rem 2rem 1.4rem
}

.LoginBox input[type=text],
.LoginBox input[type=password],
.LoginBox input[type=tel],
.LoginBox input[type=email],
.LoginBox input[type=submit],
.LoginBox input[type=button],
.LoginBox input[type=date]{
    width: 100%;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.LoginBox h1{
    text-align:  center
}




