@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/*------------------------------ Authentication -------------------------------------------------*/

.LoginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 0 10rem 0;
}

.header{
    display: flex;
    justify-content: center;
    margin: auto;
}

.InputZone {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.InputBox{
    display: flex;
    flex-direction: column;
    font-size: 3.2rem;
    padding: 1.4rem 1.4rem 2rem 1.4rem
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
    border-radius: 4px;
    font-size: 1.6rem;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=email]:focus{
    border: 3px solid #46A998;
}

input[type=submit] {
    background-color: #48AC98;
    color: #fff;
    padding: 14px 20px;
    margin: 1.2rem 0;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 1.6rem;
}

input[type=submit]:hover {
    background-color: #327769;
    transition: 0.5s
}

.footer{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    padding: 1.4rem 30% 1.4rem 30%

}





