
.showEmployees, .editEmployee{
    margin: 5rem 5rem 10rem 5rem;
    overflow: auto;
}
.showEmployees input, .editEmployee input{
    width: 50%
}

#empTable {
    border-collapse: collapse;
    font-size: 4rem;
}

#empTable td, #empTable th {
    border: 1px solid #ddd;
    padding: 0 1rem 0 1rem;
}

#empTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#empTable tr:hover {background-color: rgba(0, 0, 0, 0.19);}

#empTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #46A998;
    color: white;
}

#empTable input{
    width: 100%;
}