
/* Footer */
footer{
    display: flex;
    position:absolute;
    background-color: #222;
    color: #fff;
    text-align: center;
    bottom:0;
    width:100%;
    height:auto;
    padding: 2rem
}

footer .row{
    justify-content: center;
}
footer ul{
    list-style-type: none;
}
footer ul li{
    display: inline-block;
    margin-left: 2.5rem;
    color: #fff;
}