
/* Footer */
footer{
    display: flex;
    position:absolute;
    background-color: #222;
    color: #fff;

    text-align: center;
    height:60px;
    bottom:0;
    width:100%;
}

footer .row{
    justify-content: center;
}
footer ul{
    list-style-type: none;
}
footer ul li{
    display: inline-block;
    margin-left: 2.5rem;
    color: #fff;
}
footer ul li a:hover{
    color: #48AC98;
    transition: .5s ease-in-out;
}