.topbox{
    height: 92vh;

    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../graphics/usedom.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}


.header-content{
    width: 50%;
    position: relative;
    top: 9%;
    left: 8%;
}
form{
    margin: 2.4rem;
}
input{
    font-size: 1.8rem;
}
select,
input[type=date],
input[type=number],
input[type=text],
input[type=email],
input[type=button],
input[type=submit]{
    width: 50%;
    padding: 12px 20px;
    margin: 1.2rem 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select{
    font-size: 1.3rem;
    color: #ccc;
}
select option{
    font-size: 1.3rem;
    color: #ccc;
}
input[type=submit],
input[type=button]{
    width: 50%;
    background-color: #48AC98;
    color: #fff;
    padding: 14px 20px;
    margin: 1.2rem 0;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
}

input[type=submit]:hover,
input[type=button]:hover {
    background-color: #327769;
    transition: 0.5s
}

input::placeholder{
    font-size: 1.3rem;
    color: #ccc;
}