
.header-content{
    width: 30%;
    position: relative;
    top: 9%;
    left: 8%;
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #222;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.logo{
    font-size: 3.2rem;
    color: #48AC98;
    cursor: pointer;
}
#Logo{
    width: 15rem;
    padding: 1rem 2rem 1rem 2rem
}

.header > .nav-btn {
    display: none;
}

.header > .nav-links {
    text-align: center;
}

.header > .nav-links > a {
    display: inline-block;
    padding: 1rem 4rem 1rem 2rem;
    text-decoration: none;
    color: #efefef;
}

.header > .nav-links > a:hover {
    color: #48AC98;
    transition: all 0.5s ease-in;
}

.header > #nav-check {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    position: relative;
}