@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* ------------------------------------------------- About-Section ----------------------------------------------- */

.about-left,
.about-middle,
.about-right{
    flex-basis: 30%;
    padding: 1.6rem;
}
.btn{

    background-color: #48AC98;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    margin: 2rem 0;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}
.about2{
    background-color: #222;
    color: whitesmoke;
}
.about2-left{
    flex-basis: 50%;
}
.about2-right{
    flex-basis: 30%;
}
.about2 .card{
    padding: 3rem 9rem;
    color: #1F1F1F;
    background-color: #DCDCDC;
    margin: 1.6rem;
    text-align: center;
}

/* Process Section */
.process .row{
    justify-content: center;
}
.process-content{
    margin-top: 100px;
}
.progress-bar{
    width: 80%;
    height: 2px;
    background-color: #222;
    margin: auto;
    position: relative;
}
.progress-bar .c1,
.progress-bar .c2,
.progress-bar .c3{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
}
.progress-bar .c1{
    top: -8px;
    left: 50px;
}
.progress-bar .c2{
    top: -8px;
    left: 50%;
}
.progress-bar .c3{
    top: -8px;
    right: 50px;
}
.box1,
.box2,
.box3{
    padding: 1.8rem;
}
.process .box2{
    text-align: center;
}
.process .box3{
    text-align: right;
}
.process-content h2{
    color: #48AC98;
}


/* ----------------------------------- Testimonial-----------------------------------------------*/
.testimony{
    background-color: #222;
    color: whitesmoke;
}

.testimony .test{
    background-color: #505050;
    padding: 4rem;
    margin: 0 1rem;
    width: 80%;
}
.testimony .image{
    height: 80px;
    width: 80px;
}
.testimony img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}