


.newRental-left,
.newRental-middle,
.newRental-right{
    flex-basis: 30%;
    padding: 1.6rem;
}

.newRental .row{

    justify-content: center;
    align-items: flex-start;


}

.newRental form{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.newRental input[type="button"]{
    width: 100%;
}

.newRental fieldset{
    border-style: none;
    font-weight: 400;
    font-size: 2.4rem;
}

.newRental table{
    font-size: 10rem;
}

/* ----------------------------------- AllObjects---------------------------------------------*/
.allObjects .row{
    flex-wrap: wrap;
}
.objectBox{
    width: 30%;
    padding: 1.5rem;
    margin: 1.5rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25rem;
}
.objectBox img{
    border-radius: 4px;
}
.objectBoxText h2{
    font-family: "Arial";
    font-weight: lighter;
}
.objectBox table{
    font-size: 8rem;
    padding: 1rem;
}
.objectBox td,
.objectBox th{
    padding: 5px;
}
