@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* Base Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: whitesmoke;
}
h1,h2,h3{
    margin: 1.6rem 0;
}

h1{
    font-weight: 800;
    font-size: 3.6rem;
}
h2{
    font-weight: 800;
    font-size: 2.4rem;
}
h3{
    font-weight: 800;
    font-size: 1.8rem;
}
p{
    font-weight: 400;
    font-size: 1.8rem;
}
img{
    width: 100%;
    height: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}
section{
    padding: 100px 0;
}

/* Hero Section */
header{
    top: -100rem;
    height: 8vh;
    background-color: #222;
    color: #fff;
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}





.logo{
    font-size: 3.2rem;
    color: #48AC98;
    font-family: Beau;
    cursor: pointer;
}
#Logo{
    width: 150px;
}
nav{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav box-icon{
    display: none;
}

nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 2.5rem;

}
nav ul li a:hover{
    color: #48AC98;
    transition: .5s ease-in-out;
}




