/* ----------------------------------- AllObjects---------------------------------------------*/
.allObjects .row{
    flex-wrap: wrap;
}
.objectBox{
    width: 30%;
    padding: 1.5rem;
    margin: 1.5rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25rem;
}
.objectBox img{
    border-radius: 4px;
}
.objectBoxText h2{
    font-family: "Arial";
    font-weight: lighter;
}
.objectBox table{
    font-size: 8rem;
    padding: 1rem;
}
.objectBox td,
.objectBox th{
    padding: 5px;
}