@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* Base Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: whitesmoke;
}
h1,h2,h3{
    margin: 1.6rem 0;
}

h1{
    font-weight: 800;
    font-size: 3.6rem;
}
h2{
    font-weight: 800;
    font-size: 2.4rem;
}
p{
    font-weight: 400;
    font-size: 1.8rem;
}
img{
    width: 100%;
    height: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}
section{
    padding: 100px 0;
}

/* Hero Section */
header{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('graphics/usedom.jpg');
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}
.logo{
    font-size: 3.2rem;
    color: #48AC98;
    font-family: Beau;
}
#Logo{
    width: 150px;
}
nav{
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav box-icon{
    display: none;
}

nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}
nav ul li a:hover{
    color: #48AC98;
    transition: .5s ease-in-out;
}

.header-content{
    width: 50%;
    position: relative;
    top: 9%;
    left: 8%;
}
form{
    margin: 2.4rem;
}
input{
    font-size: 1.8rem;
}
select,
input[type=date],
input[type=number],
input[type=text],
input[type=email],
input[type=button],
input[type=submit]{
    width: 50%;
    padding: 12px 20px;
    margin: 1.2rem 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select{
    font-size: 1.3rem;
    color: #ccc;
}
select option{
    font-size: 1.3rem;
    color: #ccc;
}
input[type=submit],
input[type=button]{
    width: 50%;
    background-color: #48AC98;
    color: #fff;
    padding: 14px 20px;
    margin: 1.2rem 0;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
}
input::placeholder{
    font-size: 1.3rem;
    color: #ccc;
}

/* ------------------------------------------------- About-Section ----------------------------------------------- */

.about-left,
.about-middle,
.about-right{
    flex-basis: 30%;
    padding: 1.6rem;
}
.btn{

    background-color: #48AC98;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    margin: 2rem 0;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}
.about2{
    background-color: #222;
    color: whitesmoke;
}
.about2-left{
    flex-basis: 50%;
}
.about2-right{
    flex-basis: 30%;
}
.about2 .card{
    padding: 3rem 9rem;
    color: #222;
    background-color: #DCDCDC;
    margin: 1.6rem;
    text-align: center;
}

/* Process Section */
.process .row{
    justify-content: center;
}
.process-content{
    margin-top: 100px;
}
.progress-bar{
    width: 80%;
    height: 2px;
    background-color: #222;
    margin: auto;
    position: relative;
}
.progress-bar .c1,
.progress-bar .c2,
.progress-bar .c3{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
}
.progress-bar .c1{
    top: -8px;
    left: 50px;
}
.progress-bar .c2{
    top: -8px;
    left: 50%;
}
.progress-bar .c3{
    top: -8px;
    right: 50px;
}
.box1,
.box2,
.box3{
    padding: 1.8rem;
}
.process .box2{
    text-align: center;
}
.process .box3{
    text-align: right;
}
.process-content h2{
    color: #48AC98;
}
/* ----------------------------------- AllObjects---------------------------------------------*/
.allObjects .row{
    flex-wrap: wrap;
}
.objectBox{
    width: 30%;
    padding: 1.5rem;
    margin: 1.5rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25rem;
}
.objectBox img{
    border-radius: 4px;
}
.objectBoxText h2{
    font-family: "Arial";
    font-weight: lighter;
}
.objectBox table{
    font-size: 8rem;
    padding: 1rem;
}
.objectBox td,
.objectBox th{
    padding: 5px;
}

/* ----------------------------------- Testimony-----------------------------------------------*/
.testimony{
    background-color: #222;
    color: whitesmoke;
}

.testimony .test{
    background-color: #505050;
    padding: 4rem;
    margin: 0 1rem;
    width: 80%;
}
.testimony .image{
    height: 80px;
    width: 80px;
}
.testimony img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
/* ------------------------------------------- Contact ---------------------------------------------*/

.contact .row{
    justify-content: center;
}
.contact form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact form input{
    width: 50%;
}
.contact textarea{
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    resize: none;
    color: #ccc;
    margin: 1.2rem 0;
    font-family: Poppins, sans-serif;
}
/* Footer */
footer{
    display: flex;
    height: 80px;
    background-color: #222;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

footer .row{
    justify-content: center;
}
footer ul{
    list-style-type: none;
}
footer ul li{
    display: inline-block;
    margin-left: 2.5rem;
}
footer ul li a:hover{
    color: #48AC98;
    transition: .5s ease-in-out;
}

/*---------------------------------------------Specil-Privacy---------------------------------------------------------*/

.header-privacy{
    width: 50%;
    position: relative;
    left: 8%;
}
.contentlist-privacy{
    padding: 5%;
    background-color: #222;
    color: whitesmoke;
}
.index {
    list-style-type: circle;
}
.content-1-privacy{
    background-color: whitesmoke;
    color: #222;
    padding: 5%;
}
.content-1-privacy a{
    color: #222222;
}
.content-1-privacy ul{
    font-weight: 400;
    font-size: 1.8rem;
}
.content-1-privacy li{
    font-size: 1.8rem;
}




/* ---------------------------------------------- Media Querrys ----------------------------------------------------- */


@media only screen and (max-width:1000px){
    .row{
        flex-direction: column;
    }

    nav{
        flex-direction: column;
        position: relative;
    }
    nav box-icon{
        display: block;
        position: absolute;
        top: 32px;
        right:  32px;
    }
    nav ul{
        background-color: whitesmoke;
        display: none;
    }
    .showmenu{
        display: block;
        width: 250px;   /*Nachträglich eingefügt*/
        margin: 50px;   /*Nachträglich eingefügt*/
    }
    nav ul li{
        display: block;
        padding: 2% 0;
    }
    nav ul li a{
        color: #222;
    }
    .logo{
        display: none;
    }
    #Logo{
        width: 50%;

    }
    /* header-content */
    .header-content{
        width: 100%;
        top: 10%;
        left: 0;
        text-align: center;
        padding: 0 8px;
    }

    select,
    input[type=date],
    input[type=number],
    input[type=text],
    input[type=email],
    input[type=submit],
    input[type=button]{
        width: 80%;
        margin: 1.2rem auto;
    }

    .progress-bar{
        display: none;
    }
    .process-content{
        margin-top: 20px;
    }
    .process .box1,
    .process .box2,
    .process .box3{
        text-align: center;
    }
    /* Testimony */
    .testimony .test{
        margin: 1.2rem;
    }

    .contact form input,
    .contact textarea{
        width: 100%;
    }
}


/*





























